<div class="container">

    <h1 class="d-flex justify-content-center">Library Management System</h1>
    <h3 class="d-flex justify-content-center">Hello Admin</h3>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
       
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <button routerLink="dashbord" class="m-1 btn btn-light btn-outline-primary">Dashbord</button>
            </li>
            <li class="nav-item">
              <button routerLink="book" class="m-1 btn btn-light btn-outline-primary">Book</button>
            </li>
            <li class="nav-item">
              <button routerLink="ebook"  class="m-1 btn btn-light btn-outline-primary">EBook</button>
            </li>
           
            <li class="nav-item" >
              <button routerLink="faculty"  class="m-1 btn btn-light btn-outline-primary">Faculty</button>
            </li>

            <li class="nav-item" >
              <button routerLink="issue"  class="m-1 btn btn-light btn-outline-primary">Issue</button>
            </li>

            <li class="nav-item" >
              <button routerLink="sale"  class="m-1 btn btn-light btn-outline-primary">Sale</button>
            </li>

            <li class="nav-item" >
              <button routerLink="student"  class="m-1 btn btn-light btn-outline-primary">Student</button>
            </li>

            <li class="nav-item" >
              <button routerLink="supplier"  class="m-1 btn btn-light btn-outline-primary">Supplier</button>
            </li>
          </ul>
        
        </div>
      </div>
    </nav>

    <router-outlet></router-outlet>
</div>